<div
  class="cover"
  [style.opacity]="showCover ? 1 : 0">

</div>

<div class="container-all" [ngClass]="{'show-dashboard': showTimeline}">
  <div class="time-weather">
    <div class="time">
      {{ time }}
    </div>
    <div class="weather-img-cont">
      <div class="weather-img" [ngStyle]="{'opacity': solarIndex === 0 ? 1 : 0}">
        <img src="/assets/tutorial/icons/weather/Sunny.svg"/>
      </div>
      <div class="weather-img" [ngStyle]="{'opacity': solarIndex === 1 ? 1 : 0}">
        <img src="/assets/tutorial/icons/weather/Cloudy.svg"/>
      </div>
      <div class="weather-img" [ngStyle]="{'opacity': solarIndex === 2 ? 1 : 0}">
        <img src="/assets/tutorial/icons/weather/Rainy.svg"/>
      </div>
    </div>
  </div>
  <div class="ratio">
    <div class="image-bcg">
      <div class="weather-bcg" [ngStyle]="{'opacity': solarIndex === 0 ? 1 : 0}">
        <div class="background background-night">
          <img src="/assets/tutorial/2houses_car_solar_night_far.png" class="community-image" />
        </div>
        <div class="background day-background" id="day-background-0">
          <img src="/assets/tutorial/2houses_car_solar_far.png" class="community-image" />
        </div>
      </div>
      <div class="weather-bcg" [ngStyle]="{'opacity': solarIndex === 1 ? 1 : 0}">
        <div class="background background-night">
          <img src="/assets/tutorial/2houses_car_solar_night_far.png" class="community-image" />
        </div>
        <div class="background day-background" id="day-background-1">
          <img src="/assets/tutorial/2houses_car_solar_cloudy_far.png" class="community-image" />
        </div>
      </div>
      <div class="weather-bcg" [ngStyle]="{'opacity': solarIndex === 2 ? 1 : 0}">
        <div class="background background-night">
          <img src="/assets/tutorial/2houses_car_solar_night_rain_far_2.png" class="community-image" />
        </div>
        <div class="background day-background" id="day-background-2">
          <img src="/assets/tutorial/2houses_car_solar_rain_far_2.png" class="community-image" />
        </div>
      </div>
    </div>
    <div class="image map">

      <div class="rainContainer" [ngStyle]="{'opacity': solarIndex === 2 ? 1 : 0}">
        <div #frontRow class="rain front-row"></div>
        <div #backRow class="rain back-row"></div>
      </div>

      <!-- Tesla style ----------------------------------------------------------------------------------------------->
      <ng-container *ngIf="visualizationType === 0">

        <div class="icon house-icon house1" [ngStyle]="{'border-color': house1color}">
          <img src="/assets/tutorial/icons/home.png" />
          <div class="load-text" *ngIf="showKW">
            {{ houses[1].loadProfile[currentIndex] / 1000 }} kW
          </div>
          <div
            class="profile-type"
            [ngStyle]="{'border-color': house1color}"
            [style.opacity]="hideProfileName ? 0 : 1">
            {{ houses[1]?.name }}
          </div>
        </div>

        <div class="icon solar-icon solar1">
          <img src="/assets/tutorial/icons/solar.png" />
          <div class="load-text" *ngIf="showKW">
            {{ houses[1].pvGen[currentIndex] / 1000 }} kW
          </div>
        </div>

        <div class="icon battery-icon battery1" *ngIf="useBattery">
          <ng-container *ngIf="houses[1] !== undefined">
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] < 12.5"
              src="/assets/tutorial/icons/battery_states/battery_0_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 12.5 &&
                   houses[1].battery_charge_arr[currentIndex] < 25"
              src="/assets/tutorial/icons/battery_states/battery_1_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 25 &&
                   houses[1].battery_charge_arr[currentIndex] < 37.5"
              src="/assets/tutorial/icons/battery_states/battery_2_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 37.5 &&
                   houses[1].battery_charge_arr[currentIndex] < 50"
              src="/assets/tutorial/icons/battery_states/battery_3_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 50 &&
                   houses[1].battery_charge_arr[currentIndex] < 62.5"
              src="/assets/tutorial/icons/battery_states/battery_4_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 62.5 &&
                   houses[1].battery_charge_arr[currentIndex] < 75"
              src="/assets/tutorial/icons/battery_states/battery_5_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 75 &&
                   houses[1].battery_charge_arr[currentIndex] < 87.5"
              src="/assets/tutorial/icons/battery_states/battery_6_bar_black_24dp.svg" />
            <img
              *ngIf="houses[1].battery_charge_arr[currentIndex] > 87.5"
              src="/assets/tutorial/icons/battery_states/battery_full_black_24dp.svg" />
          </ng-container>
          <div class="load-text" *ngIf="showKW">
            {{ houses[1].battery_charge_arr[currentIndex] }} %
          </div>
        </div>

        <div
          class="icon house-icon house2"
          [ngStyle]="{'border-color': house2color}"
          [style.opacity]="noCommunity ? 0 : 1">
          <img src="/assets/tutorial/icons/home.png" />
          <div class="load-text" *ngIf="showKW">
            {{ houses[0].loadProfile[currentIndex] / 1000 }} kW
          </div>
          <div
            class="profile-type"
            [ngStyle]="{'border-color': house2color}"
            [style.opacity]="hideProfileName ? 0 : 1">
            {{ houses[0]?.name }}
          </div>
        </div>

        <div class="icon grid-icon grid">
          <img src="/assets/tutorial/icons/grid.png" />
        </div>

        <div class="line-container line1 line-bcg">
          <div id="house1-grid" class="line-con">
          </div>
        </div>
        <div class="line-container line1solarHouse line-bcg">
          <div id="solar-house-1" class="line-con">
          </div>
        </div>
        <div class="line-container line1solarGrid line-bcg">
          <div id="solar-grid-1" class="line-con">
          </div>
        </div>
        <div class="line-container line1solarBattery line-bcg" *ngIf="useBattery">
          <div id="solar-battery-1" class="line-con">
          </div>
        </div>
        <div class="line-container line1batteryHouse line-bcg" *ngIf="useBattery">
          <div id="battery-house-1" class="line-con">
          </div>
        </div>

        <div
          class="line-container line2 line-bcg"
          [style.opacity]="noCommunity ? 0 : 1">
          <div id="house2-grid" class="line-con"></div>
          <div id="house2-community" class="line-con"></div>
        </div>
      </ng-container>

      <!-- SolarVille style ------------------------------------------------------------------------------------------->
      <ng-container *ngIf="visualizationType === 1">
        <div class="indicator-container house1">
          <div class="indicator-house house1">
            <ng-container *ngFor="let i of dotsHouse1">
              <span class="dot" [ngStyle]="{'background-color': i === 1 ? dotsHouse1Color : 'black'}"></span>
            </ng-container>
          </div>
        </div>
        <div class="solarville-tag house1">
          <div class="profile-type" [ngStyle]="{'border-color': house1color}">
            {{ houses[1]?.name }}
          </div>
        </div>

        <div class="indicator-container house2">
          <div class="indicator-house house2">
            <ng-container *ngFor="let i of dotsHouse2">
              <span class="dot" [ngStyle]="{'background-color': i === 1 ? dotsHouse2Color : 'black'}"></span>
            </ng-container>
          </div>
        </div>
        <div class="solarville-tag house2">
          <div class="profile-type" [ngStyle]="{'border-color': house2color}">
            {{ houses[0]?.name }}
          </div>
        </div>
      </ng-container>

      <!-- Charts ----------------------------------------------------------------------------------------------------->
      <ng-container *ngIf="visualizationType === 2">
        <div class="house1-container">
          <div class="graph">
            <canvas baseChart
                    id="house1canvas"
                    class="house-graph"
                    [data]="barChartDataHouse1"
                    [options]="barChartOptionsHouse1"
                    [type]="barChartTypeHouse1">
            </canvas>
          </div>
        </div>
        <div class="house-line house1-line"></div>
        <div class="charts-tag house1">
          <div class="profile-type" [ngStyle]="{'border-color': house1color}">
            {{ houses[1]?.name }}
          </div>
        </div>

        <div class="house2-container">
          <div class="graph">
            <canvas baseChart
                    id="house2canvas"
                    class="house-graph"
                    [data]="barChartDataHouse2"
                    [options]="barChartOptionsHouse2"
                    [type]="barChartTypeHouse2">
            </canvas>
          </div>
        </div>
        <div class="house-line house2-line"></div>
        <div class="charts-tag house2">
          <div class="profile-type" [ngStyle]="{'border-color': house2color}">
            {{ houses[0]?.name }}
          </div>
        </div>
      </ng-container>
      <!--------------------------------------------------------------------------------------------------------------->

      <div class="narration">
        <div
          class="box"
          [ngStyle]="{
            'top': narration.top,
            'left': narration.left,
            'width': narration.width,
            'opacity': narration.opacity
          }">
          {{ narration.content }}
          <div [ngClass]="narration.tick"></div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="dashboard" *ngIf="showTimeline">
  <div class="ratio-cont">
    <div class="scales">
      <div class="arrow-cont">
        <div class="arrow-up"></div>
      </div>
      <div class="slab-cont">
        <div class="slab" [style.transform]="'rotate('+scalesRotation+'deg)'">
          <div class="weight" [style.margin-left]="weightMargin+'%'"></div>
        </div>
      </div>
    </div>

    <div class="labels">
      <div>
        Presežek<br>porabe
      </div>

      <div>
        Presežek<br>proizvodnje
      </div>
    </div>
  </div>


  <div class="timeline">
    <canvas baseChart
            id="timelineCanvas"
            class="timeline-chart-js"
            [data]="timelineChartData"
            [options]="timelineChartOptions"
            [type]="timelineChartType">
    </canvas>
    <div
      class="time-indicator"
      [ngStyle]="{'width': (4.25 + (currentIndex / 95 * 96))+'%'}"></div>
  </div>

  <div class="qr-container">
    <img src="/assets/qr1.png" class="qr-code" />
  </div>
</div>

<div class="profile-selector-container">
  <div class="house-controls">
    <div class="house-name">
      Leva hiša
    </div>
    <div class="button-container" *ngFor="let house of data.houses">
      <button
        [ngClass]="{'selected': houses[0]?.name === house.name}"
        (click)="selectProfile(0, house)">
        {{ house?.name }}
      </button>
    </div>
  </div>

  <div class="house-controls">
    <div class="house-name">
      Desna hiša
    </div>
    <div class="button-container" *ngFor="let house of data.houses">
      <button
        [ngClass]="{'selected': houses[1]?.name === house.name}"
        (click)="selectProfile(1, house)">
        {{ house?.name }}
      </button>
    </div>
  </div>
</div>
