:root {
  --animation-duration: 2s;
}

.time-weather {
  z-index: 10;
  height: 60px;
  width: 4%;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 1.7vw;
  color: #d9d9d9;

  .weather {
    font-size: 1.4vw;
    margin-top: 10px;
  }
}

.map {
  position: fixed;
  width: 100%;
  height: 100%;



  .indicator-container {
    position: absolute;
    perspective: 10em;

    &.house1 {
      width: 4%;
      height: 21%;
      left: 63%;
      top: 79%;
    }

    &.house2 {
      width: 4%;
      height: 21%;
      left: 23%;
      top: 61%;
    }
  }

  .indicator-house {
    height: 100%;
    width: 60%;
    //border: 3px solid red;

    &.house1 {
      transform: rotateX(20deg) rotateY(0deg) rotateZ(23deg);
    }

    &.house2 {
      transform: rotateX(40deg) rotateY(-7deg) rotateZ(36deg);
    }

    .dot {
      margin-top: 10%;
      width: 25%;
      padding: 25%;
      background-color: #ffffff;
      border-radius: 50%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
    }
  }

  // ---
  @function approximateSq($num, $approx) {
    $root : (( $num / $approx ) + $approx) / 2;
    @return $root;
  }

  @function sqrt($num) {
    $root:0;
    $testRoot : 0;
    $upperBounds : round($num / 2) + 1; //never need over half the main number. Add one just to be sure!
    @for $test from 2 through $upperBounds {
      $sq : $test * $test;
      @if $sq <= $num {
        $testRoot : $test;
      }
    }

    $root : (approximateSq($num, $testRoot));

    @return $root;
  }

  @function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
      @for $i from 1 through $exponent {
        $value: $value * $number;
      }
    }

    @return $value;
  }

  // Icons
  .icon {
    position: absolute;
    //width: 70px;
    height: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #e1e1e1;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &.house-icon {
      border: #3268e9 solid 3px;
    }

    &.solar-icon {
      border: #e9d63d solid 3px;
    }

    &.grid-icon {
      border: #2c2828 solid 3px;
    }

    &.battery-icon {
      border: #a65ae9 solid 3px;
    }

    &.house1 {
      top: 68%;
      left: 62%;
    }

    &.solar1 {
      top: 29%;
      left: 69%;
    }

    &.battery1 {
      top: 79%;
      left: 81%;
    }

    &.house2 {
      top: 55%;
      left: 23%;
    }

    &.grid {
      top: 82%;
      left: 37%;
    }

    img {
      height: 60%;
    }

    .load-text {
      font-family: Arial;
      font-size: 80%;
      margin-top: -13px;
      width: 100%;
      text-align: center;
    }

    .profile-type {
      position: fixed;
      font-family: Arial;
      font-weight: 500;
      font-size: 130%;
      margin-top: 8%;
      background-color: rgba(255, 255, 255, 0.61);
      padding: 5px;
      border-radius: 5px;
    }
  }

  .solarville-tag {
    position: absolute;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &.house1 {
      top: 77%;
      left: 66%;

      .profile-type {
        border: 3px red solid;
      }
    }

    &.house2 {
      top: 61%;
      left: 27%;

      .profile-type {
        border: 3px red solid;
      }
    }

    .profile-type {
      position: fixed;
      font-family: Arial;
      font-weight: 500;
      font-size: 130%;
      background-color: rgba(255, 255, 255, 0.61);
      padding: 5px;
      border-radius: 5px;
    }
  }

  // ---

  .line1 {
    width: 25%;
    height: 1.7%;
    transform: rotate(-18deg);
    transform-origin: bottom left;
    //border: 1px solid blue;
    position: absolute;
    top: 85%;
    left: 41%;
    box-sizing: border-box;
  }

  .line1solarHouse {
    width: 21%;
    height: 1.7%;
    transform: rotate(-71deg);
    transform-origin: bottom left;
    //border: 1px solid blue;
    position: absolute;
    top: 69%;
    left: 65%;
    box-sizing: border-box;
  }

  .line1solarGrid {
    width: 41%;
    height: 1.7%;
    transform: rotate(-43deg);
    transform-origin: bottom left;
    //border: 1px solid blue;
    position: absolute;
    top: 81%;
    left: 40%;
    box-sizing: border-box;
  }

  .line1solarBattery {
    width: 31%;
    height: 1.7%;
    transform: rotate(-112deg);
    transform-origin: bottom left;
    //border: 1px solid blue;
    position: absolute;
    top: 79%;
    left: 84%;
    box-sizing: border-box;
  }

  .line1batteryHouse {
    width: 19%;
    height: 1.7%;
    transform: rotate(19deg);
    transform-origin: bottom left;
    //border: 1px solid blue;
    position: absolute;
    top: 66%;
    left: 66%;
    box-sizing: border-box;
  }

  .line2 {
    width: 21%;
    height: 1.7%;
    transform: rotate(-131deg);
    transform-origin: bottom left;
    //border: 1px solid blue;
    position: absolute;
    top: 81%;
    left: 41%;
    box-sizing: border-box;

    #house2-community {
      background-color: #7ecb40 !important;
    }
  }

  .line-bcg {
    position: relative;
    overflow: hidden;
    background-color: rgba(90, 90, 90, 0.56);
    border-radius: 20px;
  }

  .line-con {
    content: "";
    position: absolute;
    left: -50%;
    height: 100%;
    width: 40%;
    animation-timing-function: linear;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    &.forward {
      animation-name: lineAnim;
    }

    &.reverse {
      animation-name: lineAnimR;
    }
  }

  @keyframes lineAnim {
    0% {
      left: -40%;
    }
    50% {
      left: 20%;
      width: 80%;
    }
    100% {
      left: 100%;
      width: 100%;
    }
  }

  @keyframes lineAnimR {
    0% {
      left: 100%;
      width: 100%;
    }
    50% {
      left: 40%;
      width: 80%;
    }
    100% {
      left: -40%;
      width: 40%;
    }
  }

  // Carts ---
  .graph {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 10px;
  }

  .house-graph {
    margin: 2%;
  }

  $house1-left: 60%;
  $house1-top: 6%;
  $house1-height: 25%;
  .house1-container {
    position: absolute;
    width: 22%;
    height: $house1-height;
    left: $house1-left;
    top: $house1-top;
    /*border: 1px solid green;*/
  }
  .house1-line {
    position: absolute;
    top: calc(#{$house1-top} + #{$house1-height} - 3px);
    left: calc(#{$house1-left} + 3px);
    width: 6.5%;
    height: 16%;
  }

  $house2-left: 15%;
  $house2-top: 4%;
  $house2-height: 25%;
  .house2-container {
    position: absolute;
    width: 12%;
    height: $house2-height;
    left: $house2-left;
    top: $house2-top;
    /*border: 1px solid green;*/
  }

  .house2-line {
    position: absolute;
    top: calc(#{$house2-top} + #{$house2-height} - 3px);
    left: calc(#{$house2-left} + 3px);
    width: 11%;
    height: 4%;
  }

  .house-line {
    background:
      linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(255, 255, 255, 0.7) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%)
  }

  .house-line-up {
    background:
      linear-gradient(to bottom right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(255, 255, 255, 0.7) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%)
  }

  .charts-tag {
    position: absolute;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &.house1 {
      top: 48%;
      left: 67%;

      .profile-type {
        border: 3px red solid;
      }
    }

    &.house2 {
      top: 34%;
      left: 26%;

      .profile-type {
        border: 3px red solid;
      }
    }

    .profile-type {
      position: fixed;
      font-family: Arial;
      font-weight: 500;
      font-size: 130%;
      background-color: rgba(255, 255, 255, 0.61);
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.weather-bcg {
  transition: opacity 1000ms;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.day-background {
  opacity: 0;
  transition: opacity 3000ms;
}

.community-image {
  width: 100%;
  height: 100%;
}

.directionButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.increaseSpeedButton {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.decreaseSpeedButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.pauseButton {
  position: fixed;
  bottom: 140px;
  right: 20px;
  z-index: 600;
}

.narrationButton {
  position: fixed;
  bottom: 110px;
  right: 20px;
  z-index: 600;
}

.KWButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 600;
}

.timelineButton {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 600;
}

.switchVisualizationButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 600;
}

.profile-selector-container {
  visibility: hidden;
  position: fixed;
  height: 30%;
  width: 20%;
  bottom: 10px;
  left: 10px;
  //border: 2px solid red;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;

  .house-controls {
    width: 50%;
    height: 100%;
    //border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .house-name {
      color: white;
      font-family: Arial;
      font-weight: bold;
      text-align: center;
    }

    .button-container {
      width: 90%;
    }

    button {
      width: 100%;
      &.selected {
        background-color: #baff8f;
      }
    }
  }
}

.container-all {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  position: fixed;

  &.show-dashboard {
    height: calc(100vh - 25%);
  }
}

.ratio {
  max-height: 100%;
  aspect-ratio: 16 / 9;
  width: unset;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  position: absolute;
  //border: green solid 5px;
  width: 100%;
  height: 100%;

  .narration {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .box {
      background: rgba(246, 255, 244, 0.85);
      padding: 13px;
      text-align: center;
      font-weight: 400;
      font-size: 1.2vw;
      color: #161616;
      font-family: arial;
      position: absolute;
      border: 4px solid #5cb85cc9;
      border-radius: 10px;
      transition: opacity 300ms;

      .right-tick {
        position: absolute;
        border-left: 10px solid #5cb85cc9;
        border-right: 10px solid transparent;
        border-top: 10px solid #5cb85cc9;
        border-bottom: 10px solid transparent;
        right: -20px;
        top: 12%;
      }

      .left-tick {
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #5cb85cc9;
        border-top: 10px solid #5cb85cc9;
        border-bottom: 10px solid transparent;
        left: -20px;
        top: 12%;
      }

      .bottom-left-tick {
        position: absolute;
        border-left: 10px solid #5cb85cc9;
        border-right: 10px solid transparent;
        border-top: 10px solid #5cb85cc9;
        border-bottom: 10px solid transparent;
        left: 15%;
        bottom: -20px;
      }

      .bottom-right-tick {
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #5cb85cc9;
        border-top: 10px solid #5cb85cc9;
        border-bottom: 10px solid transparent;
        right: 15%;
        bottom: -20px;
      }
    }
  }
}

.image-bcg {
  position: absolute;
  //border: blue solid 5px;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;

  background-color: #323232;
}

// Dashboard ---
.dashboard {
  position: fixed;
  width: 100%;
  height: 25%;

  bottom: 0;

  background-color: rgba(0, 0, 0, 0.8);
  //backdrop-filter: blur(14px);

  display: flex;
  flex-direction: row;

  //border: solid 2px red;

  .timeline {

    display: block;
    width: 67%;
    height: 90%;
    //background: white;
    //bottom: 10px;
  }

  .timeline-chart-js {
    position: absolute;
  }

  .self-chart-js {
    height: 80%;
  }

  .self-sufficiency {
    width: 15%;
    padding: 10px;
  }

  .self-consumption {
    width: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .label {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-family: Arial;
    font-size: 1rem;
  }

  .qr-container {
    // TODO
    visibility: hidden;

    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .time-indicator {
    //position: absolute;
    height: 66%;
    margin-top: 5%;
    border-right: solid 3px red;
    transition: width 900ms;
  }
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

// Weather icons
.weather-img-cont {
  width: 20%;

  .weather-img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity 1000ms;
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #57746E;
  z-index: 500;
  transition: opacity 1500ms;
}

.ratio-cont {
  height: 100%;
  width: 30%;
  .scales {
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .slab-cont {
      height: 15%;
      width: 60%;

      .slab {
        background-color: white;
        height: 100%;
        width: 100%;
        transition: transform 500ms ease;

        //transform: rotate(-18deg);
        .weight {
          position: relative;
          height: 250%;
          top: -250%;
          aspect-ratio: 1;
          background-color: white;
          border-radius: 50%;
          transition: margin-left 300ms;
        }
      }
    }
  }

  .arrow-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: absolute;
    margin-top: 3.5%;

    .arrow-up {
      float:left;
      margin:0.5%;
      width: 10%;
      height: 0;
      padding-left:10%;
      padding-bottom: 10%;
      //overflow: hidden;
    }
    .arrow-up:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left:-30px;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 70px solid #d6d3d6;
    }
  }

  .labels {
    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;

    div {
      width: 40%;
      color: white;
      font-size: 1.3rem;
      text-align: center;
      vertical-align: bottom;
      padding-bottom: 20px;
    }
  }
}

