tutorial-dashboard {
  div {
    font-family: Arial;
  }

}

$off-white: #ebebeb;

.bcg {
  position: fixed;
  height: 100%;
  width: 100%;
  //background-color: #667580;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  top: 0;
}

.cont {
  height: 100%;
  width: 100%;
  //padding: 0 1%;
}

.tab-header {
  padding-top: 4%;
  display: flex;
  flex-direction: row;

  div {
    color: $off-white;
    text-align: center;
    border-radius: 8px 8px 0 0;
    padding: 1%;
    border-bottom: 2px solid #d7d7d7;

    &.selected {
      border: solid #d7d7d7;
      border-width: 2px 2px 0 2px;
      font-weight: bold;
      //background-color: rgba(0, 0, 0, 0.8);;
    }
  }
}

.contents {
  //background-color: rgba(0, 0, 0, 0.8);
  //border: solid #d7d7d7;
  //border-width: 0 2px 2px 2px;
  padding: 3%;
}

.text {
  font-family: Arial;
}

.component {
  font-family: Arial;
}

.chart-container {
  margin-top: 5%;
  height: 300px;
  width: 100%;
}

.profile-selector-container {
  width: 100%;
  bottom: 10px;
  left: 10px;
  //border: 2px solid red;
  //background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;

  .house-controls {
    width: 50%;
    height: 100%;
    //border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;

    .house-name {
      color: $off-white;
      font-family: Arial;
      font-weight: bold;
      text-align: center;
    }

    .button-container {
      width: 90%;
    }

    button {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 4% 1%;
      margin: 2% 0;
      font-size: 1em;
      color: black;

      &.selected {
        background-color: #baff8f;
        font-weight: bold;
      }
    }
  }
}

.weather-selector-container {
  width: 100%;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  //margin-top: 20px;

  .weather-controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: Arial;
      font-weight: bold;
      text-align: center;
    }

    .button-container {
      width: 90%;
    }

    button {
      width: 100%;
      border: none;
      padding: 2% 1%;
      border-radius: 5px;
      margin: 2% 0;
      font-size: 1em;
      color: black;

      &.selected {
        background-color: #baff8f;
        font-weight: bold;
      }
    }
  }

  &.battery-selector-container {

  }
}

.bottom-bcg {
  position: fixed;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 80%;
  width: 100%;
}

.stop-button {
  color: #ebebeb;
  text-align: center;
  border: 2px #bf6161 solid;
  border-radius: 8px;
  padding: 12px;
  margin-top: 20px;

  &:active {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
