
<div class="bcg"></div>
<div class="cont">

  <div class="offset-lg-2 col-lg-8 col-12">
    <div
      class="stop-button"
      (click)="endExplore()">
      Zaključi raziskovanje
    </div>

    <div class="tab-header">
      <div
        class="col-4"
        [ngClass]="{'selected': selectedTab === 0}"
        (click)="selectTab(0)">
        Profili porabe
      </div>
      <div
        class="col-4"
        [ngClass]="{'selected': selectedTab === 1}"
        (click)="selectTab(1)">
        Vreme
      </div>
      <div
        class="col-4"
        [ngClass]="{'selected': selectedTab === 2}"
        (click)="selectTab(2)">
        Baterija
      </div>
    </div>

    <div class="contents">
      <ng-container *ngIf="selectedTab === 0">
        <!-- Load profiles -->
        <div class="profile-selector-container">
          <div class="house-controls">
            <div class="house-name">
              Leva hiša
            </div>
            <div class="button-container" *ngFor="let house of data.houses">
              <button
                [ngClass]="{'selected': houseLabels[0] === house.name}"
                (click)="selectProfile(0, house.name)">
                {{ house?.name }}
              </button>
            </div>
          </div>

          <div class="house-controls">
            <div class="house-name">
              Desna hiša
            </div>
            <div class="button-container" *ngFor="let house of data.houses">
              <button
                [ngClass]="{'selected': houseLabels[1] === house.name}"
                (click)="selectProfile(1, house.name)">
                {{ house?.name }}
              </button>
            </div>
          </div>
        </div>

        <div class="chart-container">
          <canvas baseChart
                  id="canvas-load-profile-chart"
                  class="graph"
                  [data]="loadProfileChartData"
                  [options]="loadProfileChartOptions"
                  [type]="loadProfileChartType">
          </canvas>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedTab === 1">
        <!-- Weather -->
        <div class="weather-selector-container">
          <div class="weather-controls">
            <!--          <div class="title">-->
            <!--            Vreme-->
            <!--          </div>-->
            <div class="button-container" *ngFor="let weather of data.solar">
              <button
                [ngClass]="{'selected': weatherLabel === weather.name}"
                (click)="selectWeather(1, weather.name)">
                {{ weather?.name }}
              </button>
            </div>
          </div>
        </div>

        <div class="chart-container">
          <canvas baseChart
                  id="canvas-solar-chart"
                  class="graph"
                  [data]="solarChartData"
                  [options]="solarChartOptions"
                  [type]="solarChartType">
          </canvas>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedTab === 2">
        <!-- Battery -->
        <div class="weather-selector-container battery-selector-container">
          <div class="weather-controls">
            <!--          <div class="title">-->
            <!--            Baterija-->
            <!--          </div>-->
            <div class="button-container">
              <button
                [ngClass]="{'selected': useBattery}"
                (click)="setBattery(1, true)">
                Uporabi baterijo
              </button>
            </div>
            <div class="button-container">
              <button
                [ngClass]="{'selected': !useBattery}"
                (click)="setBattery(1, false)">
                Brez baterije
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

