<div class="bcg"></div>
<div class="cont">
  <div class="offset-lg-2 col-lg-8 col-12">

    <ng-container *ngIf="!sent">
      <div class="title">
        {{ scanPrompt.emoji }} {{ scanPrompt.title }}
      </div>

      <div class="text">
        {{ scanPrompt.text }}
      </div>

      <div class="questionnaire-title">
        Zelo mi pomagate, če odgovorite na štiri kratka vprašanja
      </div>

      <div class="questionnaire-intro">
        Javni portal je bil razvit v okviru magistrske naloge. Ta postavitev v avlo je del uporabniškega testiranja, zato vas prosim, če lahko odgovorite na spodnja vprašanja in tako podate povratno informacijo o vaši izkušnji z javnim portalom.
      </div>

      <div class="likert-cont">
        <div class="question">
          Kako težko je bilo razumeti vizualizacijo na javnem zaslonu?
        </div>
        <ul class="likert">
          <li> Zelo </li>
          <li><input type="radio" name="guilty0" value="1" (click)="radioClick(0, 0)" /></li>
          <li><input type="radio" name="guilty0" value="2" (click)="radioClick(0, 1)" /></li>
          <li><input type="radio" name="guilty0" value="3" (click)="radioClick(0, 2)" /></li>
          <li><input type="radio" name="guilty0" value="4" (click)="radioClick(0, 3)" /></li>
          <li><input type="radio" name="guilty0" value="5" (click)="radioClick(0, 4)" /></li>
          <li> Sploh ne </li>
        </ul>
      </div>

      <div class="likert-cont">
        <div class="question">
          Kako koristen se vam zdi javni portal?
        </div>
        <ul class="likert">
          <li> Zelo </li>
          <li><input type="radio" name="guilty1" value="1" (click)="radioClick(1, 0)" /></li>
          <li><input type="radio" name="guilty1" value="2" (click)="radioClick(1, 1)" /></li>
          <li><input type="radio" name="guilty1" value="3" (click)="radioClick(1, 2)" /></li>
          <li><input type="radio" name="guilty1" value="4" (click)="radioClick(1, 3)" /></li>
          <li><input type="radio" name="guilty1" value="5" (click)="radioClick(1, 4)" /></li>
          <li> Sploh ne </li>
        </ul>
      </div>

      <div class="likert-cont">
        <div class="question">
          Koliko bi vas javni portal motil, če bi bil na javnem mestu, ki ga pogosto obiskujete?
        </div>
        <ul class="likert">
          <li> Zelo </li>
          <li><input type="radio" name="guilty2" value="1" (click)="radioClick(2, 0)" /></li>
          <li><input type="radio" name="guilty2" value="2" (click)="radioClick(2, 1)" /></li>
          <li><input type="radio" name="guilty2" value="3" (click)="radioClick(2, 2)" /></li>
          <li><input type="radio" name="guilty2" value="4" (click)="radioClick(2, 3)" /></li>
          <li><input type="radio" name="guilty2" value="5" (click)="radioClick(2, 4)" /></li>
          <li> Sploh ne </li>
        </ul>
      </div>

      <div class="likert-cont">
        <div class="question">
          Ste se zaradi javnega portala naučili kaj novega?
        </div>
        <ul class="likert">
          <li> Veliko </li>
          <li><input type="radio" name="guilty3" value="1" (click)="radioClick(3, 0)" /></li>
          <li><input type="radio" name="guilty3" value="2" (click)="radioClick(3, 1)" /></li>
          <li><input type="radio" name="guilty3" value="3" (click)="radioClick(3, 2)" /></li>
          <li><input type="radio" name="guilty3" value="4" (click)="radioClick(3, 3)" /></li>
          <li><input type="radio" name="guilty3" value="5" (click)="radioClick(3, 4)" /></li>
          <li> Nič </li>
        </ul>
      </div>

      <div class="input-container">
        <div class="question">
          Imate še kakšen komentar?
        </div>
        <label>
          <input [(ngModel)]="komentar" type="text">
        </label>
      </div>

      <div
        class="send-button"
        (click)="send()">
        Pošlji
      </div>
    </ng-container>


  </div>
</div>
<ng-container *ngIf="sent">
  <div class="thanks-cont">
    <div class="thanks">
      Hvala 😊
    </div>
  </div>

</ng-container>
