
.bcg {

}

.cont {
  height: 100%;
  width: 100%;
  //padding: 0 1%;
  padding: 0 10px;

  background-color: #d5e8d8;
  margin-top: -15px;

  padding-bottom: 20px;
}

.title {
  padding-top: 35px;
  font-size: 1.4rem;
  font-weight: 500;
}

.text {
  margin-top: 10px;
  white-space: pre-line;
}

.questionnaire-title {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 500;
}

.questionnaire-intro {
  margin-top: 10px;
}

.send-button {
  color: #1d1d1d;
  text-align: center;
  border: 2px #99bf45 solid;
  border-radius: 8px;
  padding: 12px;
  margin-top: 20px;

  &:active {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.likert-cont {
  color: #1d1d1d;
  margin-top: 20px;

  .question {
    font-weight: 500;
  }
}

.likert {
  width: 100%;
  display: flex;
  color: #1d1d1d;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 5%;
}
.likert li {
  float: left;
  list-style-type: none;

  input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }
}


.input-container {
  color: #1d1d1d;

  margin-top: 20px;
  width: 100%;

  label {
    width: 100%;

    input {
      width: 100%;
      height: 50px;
      padding-left: 20px;
      font-size: 1.5rem;
      border-radius: 8px;
      border: none;
    }
  }
}

.plus-minus-cont {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .minus {
    padding-top: 3px;
    width: 45%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px #419dbf solid;
    color: #ebebeb;
    text-align: center;
  }

  .plus {
    padding-top: 3px;
    width: 45%;
    margin-left: 10%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px #419dbf solid;
    color: #ebebeb;
    text-align: center;
  }


}

.thanks-cont {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .thanks {
    font-size: 2rem;
  }
}
