<div
  class="cover"
  [style.opacity]="showCover ? 1 : 0">
</div>

<div class="map">
  <div class="time-weather">
    <div class="time">
      {{ time }}
    </div>
    <div class="weather-img-cont">
      <div class="weather-img" [ngStyle]="{'opacity': solarIndex === 0 ? 1 : 0}">
        <img src="/assets/tutorial/icons/weather/Sunny.svg"/>
      </div>
      <div class="weather-img" [ngStyle]="{'opacity': solarIndex === 1 ? 1 : 0}">
        <img src="/assets/tutorial/icons/weather/Cloudy.svg"/>
      </div>
      <div class="weather-img" [ngStyle]="{'opacity': solarIndex === 2 ? 1 : 0}">
        <img src="/assets/tutorial/icons/weather/Rainy.svg"/>
      </div>
    </div>
  </div>
  <div class="background">
    <img src="/assets/Budanje-solar.png" class="community-image" />
  </div>
  <div class="house1-container">
    <div class="graph">
      <canvas baseChart
              id="house1canvas"
              class="house-graph"
              [data]="barChartDataHouse1"
              [options]="barChartOptionsHouse1"
              [type]="barChartTypeHouse1">
      </canvas>
    </div>
  </div>
  <div class="house-line house1-line"></div>

  <div class="house2-container">
    <div class="graph">
      <canvas baseChart
              id="house2canvas"
              class="house-graph"
              [data]="barChartDataHouse2"
              [options]="barChartOptionsHouse2"
              [type]="barChartTypeHouse2">
      </canvas>
    </div>
  </div>
  <div class="house-line house2-line"></div>

  <div class="house3-container">
    <div class="graph">
      <canvas baseChart
              id="house3canvas"
              class="house-graph"
              [data]="barChartDataHouse3"
              [options]="barChartOptionsHouse3"
              [type]="barChartTypeHouse3">
      </canvas>
    </div>
  </div>
  <div class="house-line house3-line"></div>

  <div class="legend-container">
    <div class="cont">
      <div class="title">
        Legenda:
      </div>
      <div class="subtitle">
        Barve na zgornjih grafih prikazujejo vir elektrike.
      </div>
      <div class="type grid">
        <div class="box color-orange"></div>
        <div class="text">
          Omrežje
        </div>
      </div>
      <div class="type green">
        <div class="box color-green"></div>
        <div class="text">
          Sončna elektrarna
        </div>
      </div>
    </div>
  </div>

  <div class="counter-container">
    <div class="cont">
      <div class="title">
        {{ answerCounter }}
      </div>
      <div class="subtitle">
        vas je že prebralo nasvet in podalo mnenje.
      </div>
    </div>
  </div>

  <div
    class="prompt-container"
    [ngStyle]="{'opacity': promptOpacity}">
    <div class="cont row">
      <div class="col-4">
        <div class="icon">
          {{ this.currentPrompt.emoji }}
        </div>
        <div class="qr-code-c">
          <qr-code [value]="questionnaireUrl" size="120" errorCorrectionLevel="M"></qr-code>
        </div>
      </div>
      <div class="subtitle col-8" style="white-space: pre-line">
        {{ this.currentPrompt.message }}
      </div>
    </div>
  </div>
  <div class="plus-container" [ngStyle]="{'opacity': upOpacity}">
    <div class="cont">
      🔝
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="self-sufficiency" style="display: none">
    <div class="self-chart-js">
      <canvas baseChart
              id="selfSufficiencyCanvas"
              [data]="chartDataSelfSufficiency"
              [options]="chartOptionsSelfSufficiency"
              [type]="chartTypeSelfSufficiency">
      </canvas>
    </div>
    <div class="label">
      Self sufficiency
    </div>
  </div>

  <div class="self-consumption" style="display: none">
    <div class="self-chart-js">
      <canvas baseChart
              id="selfConsumptionCanvas"
              [data]="chartDataSelfConsumption"
              [options]="chartOptionsSelfConsumption"
              [type]="chartTypeSelfConsumption">
      </canvas>
    </div>
    <div class="label">
      Self consumption
    </div>
  </div>

  <div class="ratio-cont">
  <div class="scales">
    <div class="arrow-cont">
      <div class="arrow-up"></div>
    </div>
    <div class="slab-cont">
      <div class="slab" [style.transform]="'rotate('+scalesRotation+'deg)'">
        <div class="weight" [style.margin-left]="weightMargin+'%'"></div>
      </div>
    </div>
  </div>

  <div class="labels">
    <div>
      Presežek<br>porabe
    </div>

    <div>
      Presežek<br>proizvodnje
    </div>
  </div>
</div>


  <div class="timeline">
    <canvas baseChart
            id="timelineCanvas"
            class="timeline-chart-js"
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
    </canvas>
    <div
      class="time-indicator"
      [ngStyle]="{'width': (4.25 + (currentIndex / 95 * 96))+'%'}"></div>
  </div>


  <div class="legend-dashboard">
    <div class="cont">
      <div class="subtitle">
        S stolpci je prikazana poraba objektov skozi dan.<br>Skupna višina stolpca predstavlja porabo celotne skupnosti.
      </div>

    </div>
  </div>
</div>


