.map {
  position: fixed;
  width: 100%;
  height: 100%;
}

.dashboard {
  position: fixed;
  width: 100%;
  height: 25%;

  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(14px);

  display: flex;
  flex-direction: row;

  .legend-dashboard {
    width: 11%;
    left: 1%;
    bottom: 31%;
    margin: 1%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    .cont {

      //height: 100%;
      width: 100%;
      padding: 4%;

      background-color: rgba(205, 205, 205, 0.9);
      backdrop-filter: blur(6px);
      border-radius: 10px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.community-image {
  width: 100%;
  height: 100%;
}

$house1-left: 17%;
$house1-top: 8%;
$house1-height: 20%;
.house1-container {
  position: absolute;
  width: 10%;
  height: $house1-height;
  left: $house1-left;
  top: $house1-top;
  /*border: 1px solid green;*/
}

.house1-line {
  position: absolute;
  top: calc(#{$house1-top} + #{$house1-height} - 3px);
  left: calc(#{$house1-left} + 3px);
  width: 12%;
  height: 7%;
}

.house2-container {
  position: absolute;
  width: 22%;
  height: 23%;
  left: 43%;
  top: 7%;
  /*border: 1px solid green;*/
}

#house2-position {
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  left: 5px;
  top: calc(100% - 5px);
  transform: rotate(45deg);
  transform-origin: top left;
  background-color: red;
}

.house3-container {
  position: absolute;
  width: 10%;
  height: 20%;
  left: 76%;
  top: 26%;
  /*border: 1px solid green;*/
}

.house4-container {
  position: absolute;
  width: 10%;
  height: 20%;
  left: 26%;
  top: 60%;
  /*border: 1px solid green;*/
}

.legend-container {
  position: absolute;
  width: 20%;
  height: 22%;
  right: 1%;
  top: 1%;

  .cont {
    position: absolute;
    //height: 100%;
    width: 100%;
    padding: 4%;

    background-color: rgba(205, 205, 205, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .subtitle {
      margin-bottom: 2%;
    }

    .type {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 4%;

      .color-orange {
        width: 20%;
        margin-left: 2%;
        margin-right: 3%;
        background-color: #cb762d;
      }

      .color-green {
        width: 20%;
        margin-left: 2%;
        margin-right: 3%;
        background-color: #7ecb40;
      }
    }
  }
}

.counter-container {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 1%;
  top: 16%;

  .cont {
    position: absolute;
    //height: 100%;
    width: 100%;
    padding: 4%;
    color: white;

    //background-color: rgba(205, 205, 205, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 2rem;
    }

    .subtitle {
      margin-bottom: 2%;
    }
  }
}

.plus-container {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 11%;
  top: 14%;
  transition: opacity 300ms;

  .cont {
    position: absolute;
    //height: 100%;
    width: 100%;
    padding: 4%;
    color: #ff3322;
    font-size: 2.8rem;
  }
}

.prompt-container {
  position: absolute;
  width: 30%;
  height: 30%;
  left: 2%;
  bottom: 29%;

  transition: opacity 300ms;

  .cont {
    position: absolute;
    //height: 100%;
    width: 100%;
    padding: 4%;

    background-color: rgba(205, 205, 205, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    box-shadow: 0 0 20px 10px #3bff69;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .subtitle {
      margin-bottom: 2%;
      font-size: 1.2rem;
    }

    .icon {
      font-size: 4rem;
      text-align: center;
      margin-left: -18%
    }
  }
}

.graph {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2%;

  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.bars {
  height: 75%;
  width: 90%;
  padding: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.bar {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.multi-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.load-grid {
  background-color: rgb(230, 178, 76);
  transition: height 500ms;
  border-radius: 5px;
}

.load-community {
  background-color: rgb(76, 230, 217);
  transition: height 500ms;
  border-radius: 5px;
}

.load-pv {
  background-color: rgb(112, 230, 76);
  transition: height 500ms;
  border-radius: 5px;
}

.to-community {
  background-color: rgb(76, 171, 230);
  transition: height 500ms;
  border-radius: 5px;
}

.to-grid {
  background-color: rgb(158, 76, 230);
  transition: height 500ms;
  border-radius: 5px;
}

.legend {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 1.3vw;
  margin-top: -2%;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10%;
  //color: #d4d4d4;
}

.legend-big {
  margin-top: -5% !important;
}

.house1 {
  position: absolute;
  height: 50%;
  width: 90%;
  top: 40%;
  margin: 5%;
  visibility: hidden;
}

.house-line {
  background:
    linear-gradient(to top right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 2px),
      rgba(0,0,0,0.7) 50%,
      rgba(0,0,0,0) calc(50% + 2px),
      rgba(0,0,0,0) 100%)
}

.house-line-up {
  background:
    linear-gradient(to bottom right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 2px),
      rgba(0,0,0,0.7) 50%,
      rgba(0,0,0,0) calc(50% + 2px),
      rgba(0,0,0,0) 100%)
}

.house2-line {
  position: absolute;
  top: calc(30% - 3px);
  left: calc(43% + 3px);
  width: 12%;
  height: 13%;
}

.house3-line {
  position: absolute;
  top: calc(46% - 3px);
  left: calc(76% + 3px);
  width: 5%;
  height: 4%;
}

.house4-line {
  position: absolute;
  top: calc(71% + 3px);
  left: calc(36% - 3px);
  width: 7%;
  height: 8%;
}

.controls {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.timeline {

  display: block;
  width: 57%;
  height: 90%;
  //background: white;
  //bottom: 10px;
}

.timeline-chart-js {
  position: absolute;
}

.self-chart-js {
  height: 80%;
}

.self-sufficiency {
  width: 15%;
  padding: 10px;
}

.self-consumption {
  width: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ratio-cont {
  height: 100%;
  width: 30%;
  .scales {
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .slab-cont {
      height: 15%;
      width: 60%;

      .slab {
        background-color: white;
        height: 100%;
        width: 100%;
        transition: transform 500ms ease;

        //transform: rotate(-18deg);
        .weight {
          position: relative;
          height: 250%;
          top: -250%;
          aspect-ratio: 1;
          background-color: white;
          border-radius: 50%;
          transition: margin-left 300ms;
        }
      }
    }
  }

  .arrow-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: absolute;
    margin-top: 3.5%;

    .arrow-up {
      float:left;
      margin:0.5%;
      width: 10%;
      height: 0;
      padding-left:10%;
      padding-bottom: 10%;
      //overflow: hidden;
    }
    .arrow-up:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left:-30px;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 70px solid #d6d3d6;
    }
  }

  .labels {
    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;

    div {
      width: 40%;
      color: white;
      font-size: 1.3rem;
      text-align: center;
      vertical-align: bottom;
      padding-bottom: 20px;
    }
  }
}

.label {
  text-align: center;
  margin-top: 5px;
  color: white;
  font-family: Arial;
  font-size: 1rem;
}

.qr-container {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-indicator {
  //position: absolute;
  height: 66%;
  margin-top: 5%;
  border-right: solid 3px red;
  transition: width 900ms;
}

.house-graph {
  margin: 2%;
}

.self-graphs {
  position: fixed;
  height: 200px;
  width: 400px;
}

.qr-code-c {
  margin-left: -15px;
}

.qr-code {

  height: auto;
  width: 100%;
  margin-top: 10%;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #57746E;
  z-index: 999;
  transition: opacity 1500ms;
}

.time-weather {
  z-index: 10;
  height: 60px;
  width: 4%;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 1.7vw;
  color: #d9d9d9;

  .weather {
    font-size: 1.4vw;
    margin-top: 10px;
  }
}

// Weather icons
.weather-img-cont {
  width: 20%;

  .weather-img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity 1000ms;
  }
}
