<div class="bcg"></div>

<div class="page-content">
  <div class="page-title">
    Energetske skupnosti
  </div>

  <div class="row">
    <div class="offset-sm-0 offset-md-2 offset-lg-3 col-sm-12 col-md-8 col-lg-6 card">
      <div class="card-content">
        <div class="quick-content first">
          <div class="head">
            <div class="scenario">
              Scenarij 1
            </div>
            <div class="title">
              Lastna proizvodnja elektrike
            </div>
          </div>

          <div
            class="more-info-button"
            (click)="toggleCard(0)">
            Več informacij
          </div>

          <div
            class="play-stop"
            (click)="toggleScenario('scenario1')"
            [style.opacity]=
              "currentScenario !== 'scenario1' && currentScenario !== 'none' ? 0.5 : 1">
            <img
              [src]=
                "currentScenario !== 'scenario1' ?
                '/assets/tutorial/icons/play_white.svg' :
                '/assets/tutorial/icons/stop_white.svg'">
          </div>
        </div>

        <div
          class="more-info"
          [style.height]="cardExpanded[0] ? 'fit-content' : 0"
          [style.opacity]="cardExpanded[0] ? 1 : 0">
          <div class="info-text">
            Posameznik trenutno odvisnost od virov energije, ki so škodljivi za okolje najlažje zmanjša z namestitvijo lastne sončne elektrarne.
            <br>
            V tem scenariju si lahko pogledate delovanje lastne sončne elektrarne in izveste kako profil porabe gospodinjstva in profil proizvodnje elektrike iz sončnih panelov vplivata na samooskrbnost gospodinjstva.
          </div>
        </div>

      </div>
    </div>

    <div class="offset-sm-0 offset-md-2 offset-lg-3 col-sm-12 col-md-8 col-lg-6 card">
      <div class="card-content">
        <div class="quick-content second">
          <div class="head">
            <div class="scenario">
              Scenarij 2
            </div>
            <div class="title">
              Energetska skupnost
            </div>
          </div>

          <div
            class="more-info-button"
            (click)="toggleCard(1)">
            Več informacij
          </div>

          <div
            class="play-stop"
            (click)="toggleScenario('scenario2')"
            [style.opacity]=
              "currentScenario !== 'scenario2' && currentScenario !== 'none' ? 0.5 : 1">
            <img
              [src]=
                "currentScenario !== 'scenario2' ?
                '/assets/tutorial/icons/play_white.svg' :
                '/assets/tutorial/icons/stop_white.svg'">
          </div>
        </div>

        <div
          class="more-info"
          [style.height]="cardExpanded[1] ? 'fit-content' : 0"
          [style.opacity]="cardExpanded[1] ? 1 : 0">
          <div class="info-text">
            Poraba nekoga, ki se vsak dan odpravi na delo običajno naraste pred zjutraj odhodom od doma in zvečer, ko se vrne z dela.

            Profile porabe je potrebno upoštevati pri namestitvi sončnih panelov. Zgoraj omenjeni uporabnik ima v času, ko je proizvodnja elektrike najvišja zelo nizko porabo. Trenutna rešitev tega problema je priklop sončne elektrarne na javno električno omrežje.

            Z množičnimi priklopi sončnih elektrarn bi lahko v urah največje proizvodnje prišlo do preobremenitev obstoječeja omrežja.
            <br>
            Rešitev te težave so lahko energetske skupnosti, kjer lastnik sončne elektrarne lahko presežke proizvodnje proda sosedom. Presežek proizvodnje se tako porabi lokalno, s čimer se zmanjša obremenitev širšega omrežja.
            <br><br>
            V tem scenariju si lahko pogledate delovanje poenostavljenega primera energetske skupnosti.
          </div>
        </div>

      </div>
    </div>

    <div class="offset-sm-0 offset-md-2 offset-lg-3 col-sm-12 col-md-8 col-lg-6 card">
      <div class="card-content">
        <div class="quick-content third">
          <div class="head">
            <div class="scenario">
              Scenarij 3
            </div>
            <div class="title">
              Hranilnik energije
            </div>
          </div>

          <div
            class="more-info-button"
            (click)="toggleCard(2)">
            Več informacij
          </div>

          <div
            class="play-stop"
            (click)="toggleScenario('scenario3')"
            [style.opacity]=
              "currentScenario !== 'scenario3' && currentScenario !== 'none' ? 0.5 : 1">
            <img
              [src]=
                "currentScenario !== 'scenario3' ?
                '/assets/tutorial/icons/play_white.svg' :
                '/assets/tutorial/icons/stop_white.svg'">
          </div>
        </div>

        <div
          class="more-info"
          [style.height]="cardExpanded[2] ? 'fit-content' : 0"
          [style.opacity]="cardExpanded[2] ? 1 : 0">
          <div class="info-text">
            Kot ste lahko videli v prvih dveh scenarijih proizvodnja elektrike iz sončne elektrarne ne sovpada popolnoma z lokalnimi potrebami po elektriki.
            <br>
            Rešitev so hranilniki energije, ki energijo proizvedeno v času presežka shranijo za čas večjih potreb (zjutraj in zvečer).
            <br>
            Najbolj smiselen tip hranilnikov energije so trenutno baterije. Uporabimo lahko celo baterijo električnega avtomobila.
            <br><br>
            V tem scenariju si lahko pogledate kako hranilnik energije vpliva na samo zadostnost in samo porabo elektrike v lokalni skupnosti.
          </div>
        </div>
      </div>
    </div>

    <div class="offset-sm-0 offset-md-2 offset-lg-3 col-sm-12 col-md-8 col-lg-6 card">
      <div class="card-content">
        <div class="quick-content explore">
          <div class="head">
            <div class="scenario">
              Raziskovanje
            </div>
            <div class="title">
              Nastavljanje parametrov po želji
            </div>
          </div>

          <div
            class="more-info-button"
            (click)="toggleCard(3)">
            Več informacij
          </div>

          <div
            class="play-stop"
            (click)="toggleScenario('explore')"
            [style.opacity]=
              "currentScenario !== 'explore' && currentScenario !== 'none' ? 0.5 : 1">
            <img
              [src]=
                "currentScenario !== 'explore' ?
                '/assets/tutorial/icons/play_white.svg' :
                '/assets/tutorial/icons/stop_white.svg'">
          </div>
        </div>

        <div
          class="more-info"
          [style.height]="cardExpanded[3] ? 'fit-content' : 0"
          [style.opacity]="cardExpanded[3] ? 1 : 0">
          <div class="info-text">
            V tem scanariju lahko sami nastavljate tipe profilov gospodinjstev v energetski skupnosti, vreme in prisotnost baterije in preko raziskovanja ugotovite kako različni paramatri vplivajo na energetske skupnosti.
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
