dashboard-home {

}

.bcg {
  position: fixed;
  height: 100%;
  width: 100%;
  //background-color: #667580;
  background-color: #191919;
  z-index: -1;
}

.page-content {
  color: #ebebeb;
  padding: 20px;

  .page-title {
    margin-bottom: 2vh;
  }

  .card {
    padding: 10px;
    background-color: transparent;
    //height: 30vh;

    .card-content {
      background-color: #343434;
      border: 2px solid #ebebeb;

      border-radius: 15px;

      height: 100%;
      display: flex;
      align-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;

      .quick-content {
        height: 25vh;
        min-height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 10px;
        background-position: center;
        background-size: cover;
        border-radius: 13px;

        &.first {
          background-image: url('/assets/tutorial/2houses_sc1.png');
        }

        &.second {
          background-image: url('/assets/tutorial/2houses_car_solar_far.png');
        }

        &.third {
          background-image: url('/assets/tutorial/2houses_sc3.png');
        }

        &.explore {
          background-image: url('/assets/tutorial/2houses_car_solar_night_rain_far_2.png');
        }
      }

      .scenario {

      }

      .title {
        font-size: 1.5rem;
      }

      .more-info-button {

      }

      .play-stop {
        height: 30%;
        //width: auto;
        aspect-ratio: 1;
        position: absolute;
        bottom: 20px;
        right: 20px;

        border: 2px solid #ebebeb;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);

        color: #ebebeb;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;

        img {
          width: 80%;
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.9);
          border: 3px solid #ebebeb;
        }
      }

      .more-info {
        transition: height 400ms, opacity 400ms;

        .info-text {
          padding: 10px;
        }
      }
    }
  }
}
