<div>
  Dashboard
</div>
<div>
  {{ data?.time }}
</div>
<div class="chart-container">
  <canvas baseChart
          id="testcanvas"
          class="graph"
          [data]="barChartDataTest"
          [options]="barChartOptionsTest"
          [type]="barChartTypeTest">
  </canvas>
</div>

<div style="margin-top: 20px">
  House 2 appliance use
</div>
<div class="chart-container">
  <canvas baseChart
          id="canvas-house2"
          class="graph"
          [data]="barChartDataHouse2"
          [options]="barChartOptionsHouse2"
          [type]="barChartTypeHouse2">
  </canvas>
</div>

<div style="margin-top: 20px">
  House 2 PV generation
</div>
<div class="chart-container">
  <canvas baseChart
          id="canvas-house2pv"
          class="graph"
          [data]="barChartDataHouse2pv"
          [options]="barChartOptionsHouse2pv"
          [type]="barChartTypeHouse2pv">
  </canvas>
</div>
