<div class="bcg"></div>
<div class="cont">
  <div class="offset-lg-2 col-lg-8 col-12">
    <div
      class="set-time-button current-time"
      (click)="setCurrentTime()">
      Trenutni čas
    </div>

    <div class="input-container">
      <label>
        <input [(ngModel)]="timeHour" type="number">
      </label>
    </div>

    <div class="plus-minus-cont">
      <div class="minus" (click)="minus()">
        -
      </div>
      <div class="plus" (click)="plus()">
        +
      </div>
    </div>

    <div
      class="set-time-button"
      (click)="setTime()">
      Nastavi čas
    </div>
  </div>
</div>
