
.bcg {
  position: fixed;
  height: 100%;
  width: 100%;
  //background-color: #667580;
  background-color: #191919;
  z-index: -1;
  margin-top: -40px;
}

.cont {
  height: 100%;
  width: 100%;
  //padding: 0 1%;
  padding: 0 10px;
}

.set-time-button {
  color: #ebebeb;
  text-align: center;
  border: 2px #bf7a46 solid;
  border-radius: 8px;
  padding: 12px;
  margin-top: 20px;

  &.current-time {
    border: 2px #99bf45 solid;
    margin-top: 40px;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.input-container {
  margin-top: 40px;
  width: 100%;

  label {
    width: 100%;

    input {
      width: 100%;
      height: 50px;
      padding-left: 20px;
      font-size: 1.5rem;
      border-radius: 8px;
      border: none;
    }
  }
}

.plus-minus-cont {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .minus {
    padding-top: 3px;
    width: 45%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px #419dbf solid;
    color: #ebebeb;
    text-align: center;
  }

  .plus {
    padding-top: 3px;
    width: 45%;
    margin-left: 10%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px #419dbf solid;
    color: #ebebeb;
    text-align: center;
  }
}
